@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  /* background: linear-gradient(45deg, #0f2027, #203a43, #2c5364); */
  transition: background 0.5s ease-in-out;
}

/* Set up a global container for content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
